<!DOCTYPE html>
<html>
    <head>
        <meta charset="ISO-8859-1">
        <title>Info Covid - Contacto</title>
        <link rel="shortcut icon" href="assets/logo.png" type="image/png">
    </head>
    <body>
        <h1>
            Contacto con Autoridades Sanitarias
        </h1>
        <h2>
            Información de contacto de las distintas autoridades sanitarias
        </h2>
        <h3>
            Ambulancias - 061
        </h3>
        <h3>
            Policia - 2
        </h3>
        <h3>
            Bomberos - 952420690
        </h3>
        <h3>
            Superman - ª
        </h3>
        <br><a th:href="@{inicio(type=${tipo})}">Volver atrás</a>
    </body>
</html>