<!DOCTYPE html>
<html>
    <head>
        <meta charset="ISO-8859-1">
        <title>Info Covid - Contacto</title>
        <link rel="shortcut icon" href="https://i.gyazo.com/343d0e9fca4c217af88264509dafbb1a.png" type="image/png">
    </head>
    <body>
        <h1>
            Contacto con Autoridades Sanitarias
        </h1>
        <h2>
            Información de contacto de las distintas autoridades sanitarias
        </h2>
        <table>
            <thead>
                <tr><td>Contacto</td><td>Número</td></tr>
            </thead>
            <tbody>
                <tr>
                    <td>Salud Responde: Información sobre el Coronavirus</td>
                    <td>900 400 061</td>
                </tr>
                <tr>
                    <td>Salud Responde</td>
                    <td>955 54 50 60</td>
                </tr>
                <tr>
                    <td>Emergencias Sanitarias</td>
                    <td>061</td>
                </tr>
                <tr>
                    <td>Urgencias Sanitarias</td>
                    <td>902 505 061</td>
                </tr>
                <tr>
                    <td>Emergencias</td>
                    <td>112</td>
                </tr>
            </tbody>
        </table>
        <br><a th:href="@{inicio(type=${tipo})}">Volver atrás</a>
    </body>
</html>