<!DOCTYPE html>
<html>
    <head>
        <meta charset="ISO-8859-1">
        <title>Info Covid</title>
        <link rel="shortcut icon" href="assets/logo.png" type="image/png">
    </head>
    <body>
        <h1>
            Info Covid by Pilotech
        </h1>
        <h2>
            Tu fuente de información legítima sobre el Covid-19
        </h2>
        <h3>
            <a th:href="@{noticias(type=${tipo})}">Ver las Noticias</a>
        </h3>
        <h3 th:if="${tipo > 0}">
            <a th:href="@{foro(type=${tipo})}">Ver el Foro</a>
        </h3>
        <h3>
            <a th:href="@{info(type=${tipo})}">Contacto con Autoridades Sanitarias</a>
        </h3>
        <a href="/">Cerrar Sesión</a>
    </body>
</html>
