<!DOCTYPE html>
<html>
    <head>
        <meta charset="ISO-8859-1">
        <title>Info Covid - Foro</title>
        <link rel="shortcut icon" href="https://i.gyazo.com/343d0e9fca4c217af88264509dafbb1a.png" type="image/png">
    </head>
    <body>
        <div th:switch="${post.id}">
            <h1 th:case="null">
                Crear una Publicación
                <h2>
                    Panel para crear una nueva publicación
                </h2>
            </h1>
            <h1 th:case="*">
                Editar una Publicación
                <h2>
                    Panel para editar una publicación
                </h2>
            </h1>
        </div>
        <form autocomplete="off" th:action="@{/foro/save(type=${tipo})}" method="post" th:object="${post}">
            <input type="hidden" id="id" th:field="*{id}">
            <div>
                <label for="autor">Autor</label>
                <input type="text" id="autor" size="10"  th:field="*{autor}">
            </div>
            <div>
                <label for="titulo">Título</label>
                <input type="text" id="titulo" size="50" th:field="*{titulo}">
            </div>
            <div>
                <label for="cuerpo">Cuerpo</label>
                <textarea rows="5" cols="51" id="cuerpo" th:field="*{cuerpo}"></textarea>
            </div>
            <div>
                <input type="submit" value="Enviar">
            </div>
        </form>
    </body>
</html>