<!DOCTYPE html>
<html>
    <head>
        <meta charset="ISO-8859-1">
        <title>Info Covid - Foro</title>
        <link rel="shortcut icon" href="assets/logo.png" type="image/png">
    </head>
    <body>
        <h1>
            Foro de Info Covid
        </h1>
        <h2>
            Foro para publicar experiencias personales y preguntas sobre el Covid
        </h2>
        <a th:href="@{/foro/add(type=${tipo})}">Crear Publicación</a>
        <table>
            <thead>
                <tr><td>Autor</td><td>Título</td><td>Cuerpo</td>
                </tr>
            </thead>
            <tbody>
                <tr th:each="p : ${listaPosts}">
                    <div th:switch="${p.verificado}">
                    <t th:case="true">
                        <td th:text="${p.autor}"></td>
                        <td th:text="${p.titulo}"></td>
                        <td th:text="${p.cuerpo}"></td>
                    <td>
                        <a th:href="@{/foro/view/{id}(id=${p.id}, type=${tipo})}">Abrir</a>
                        <a th:href="@{/foro/edit/{id}(id=${p.id}, type=${tipo})}">Editar</a>
                        <a th:href="@{/foro/delete/{id}(id=${p.id}, type=${tipo})}">Eliminar</a>
                        </div>
                    </td>
                    </t>
                    </div>
                </tr>
            </tbody>
        </table>
        <br th:if="${tipo}>1"><a th:if="${tipo}>1" th:href="@{/foro/verif(type=${tipo})}">Vista de Moderador</a>
        <br><a th:href="@{inicio(type=${tipo})}">Volver atrás</a>
    </body>
</html>