<!DOCTYPE html>
<html>
    <head>
        <meta charset="ISO-8859-1">
        <title>Info Covid - Foro</title>
    </head>
    <body>
        <h1>
            Panel de Moderación del Foro
        </h1>
        <h2>
            Panel para verificar publicaciones del foro de Info Covid
        </h2>
        <div th:switch="${notVerif}">
        <table th:case="${true}">
            <thead>
                <tr><td>Autor</td><td>Título</td><td>Cuerpo</td>
                </tr>
            </thead>
            <tbody>
                <tr th:each="p : ${listaPosts}">
                    <div th:switch="${p.verificado}">
                    <t th:case="false">
                        <td th:text="${p.autor}"></td>
                        <td th:text="${p.titulo}"></td>
                        <td th:text="${p.cuerpo}"></td>
                    <td>
                        <a th:href="@{/foro/verif/view/{id}(id=${p.id})}">Abrir</a>
                    </td>
                    </t>
                    </div>
                </tr>
            </tbody>
        </table>
        <h3 th:case="${false}">
            No hay publicaciones para verificar ;)
        </h3>
    </div>
        <br><a th:href="@{/foro}">Volver atrás</a>
    </body>
</html>