<!DOCTYPE html>
<html>
    <head>
        <meta charset="ISO-8859-1">
        <title>Info Covid - Noticias</title>
        <link rel="shortcut icon" href="https://i.gyazo.com/343d0e9fca4c217af88264509dafbb1a.png" type="image/png">
    </head>
    <body>
        <div th:switch="${noticia.id}">
            <h1 th:case="null">
                Crear nueva Noticia
                <h2>
                    Panel para añadir una nueva noticia
                </h2>
            </h1>
            <h1 th:case="*">
                Editar una Noticia
                <h2>
                    Panel para editar una noticia
                </h2>
            </h1>
        </div>
        
        <form autocomplete="off" th:action="@{/noticias/save}" method="post" th:object="${noticia}">
            <input type="hidden" id="id" th:field="*{id}">
            <div>
                <label for="titular">Titular</label>
                <input type="text" id="titular" size="50"  th:field="*{titular}">
            </div>
            <div>
                <label for="cuerpo">Cuerpo</label>
                <textarea rows="5" cols="51" id="cuerpo" th:field="*{cuerpo}"></textarea>
            </div>
            <div>
                <label for="fuente">Nombre de Fuente</label>
                <input type="text" id="fuente" size="20" th:field="*{fuente}">
            </div>
            <div>
                <label for="link">Link de Fuente</label>
                <input type="text" id="link" size="50" th:field="*{link}">
            </div>
            <div>
                <label for="bulo">Tipo de Noticia</label>
                <input type="checkbox" name="tipo" th:field="*{bulo}" th:value="${noticia.bulo}">Bulo
            </div>
            <div>
                <input type="submit" value="Enviar">
            </div>
        </form>
    </body>
</html>